@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Ubuntu&family=Work+Sans:wght@300;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: #0e091b;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #5683f6;
    border-radius: 8px;
  }
  .txt {
    grid-template-columns: 1fr 1.5fr;
  }

  .cardTec {
    grid-template-columns: 100px 100px 100px;
  }

  .progress-value {
    height: calc(100% - 15px);
    width: calc(100% - 15px);
  }

  .hamburguer-1 {
    transform: rotate(-45deg) translate(-10px, 8px);
  }
  .hamburguer-2 {
    opacity: 0;
  }
  .hamburguer-3 {
    transform: rotate(45deg) translate(-7px, -5px);
  }

  @keyframes showDown {
    from {
      opacity: 0;
      transform: translate3d(0, -30px, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

@layer components {
  .title-section {
    @apply font-montserrat font-bold text-5xl uppercase text-[#ffff] text-center after:w-40 after:h-1  after:mx-auto after:bg-blue after:block;
  }
  .center {
    @apply d:container  d:mx-auto t:container t:mx-auto s:container s:mx-auto;
  }

  .spaceSection {
    @apply py-16;
  }

  .btn {
    @apply py-[0.625rem] px-10 rounded-[0.25rem] font-semibold font-worksans uppercase  s:px-5;
  }

  .menuEffect {
    @apply after:bg-blue after:absolute after:h-[3px] after:w-0 after:left-0 after:-bottom-[5px] after:duration-300 hover:text-[#ffff] hover:after:w-full;
  }

  .hamburguer {
    @apply w-8 h-[3px] bg-[#fafafa] m-2 duration-300;
  }

  .menuMobile {
    @apply flex-col w-full absolute top-24 right-0 z-50 bg-bgsecondary;
  }
}
